In [10]:
import graphlab as gl

In [11]:
people = gl.SFrame('people_wiki.gl/')

## Task 1 : top 3 words in word_count and TF_IDF for Elton John

In [19]:
#Adding word_count and TF_IDF for every person

people['word_count'] = gl.text_analytics.count_words(people['text'])
people['tfidf'] = gl.text_analytics.tf_idf(people['word_count'])

In [20]:
elton = people[people['name'] == 'Elton John']

In [21]:
elton[['word_count']].stack('word_count', new_column_name=['word', 'count']).sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
elton[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Task 2 : How close is Victoria Beckham and Paul McCartney to Elton John

In [23]:
victoria = people[people['name'] == 'Victoria Beckham']
paul = people[people['name'] == 'Paul McCartney']

victoria.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'millionin': 1, 'saying':... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'millionin': 7.7283988512... |
+-------------------------------+
[1 rows x 5 columns]

In [24]:
print gl.distances.cosine(elton['tfidf'][0], victoria['tfidf'][0])
print gl.distances.cosine(elton['tfidf'][0], paul['tfidf'][0])

0.956700637666
0.825031002922

## Task 3 : Building nearest neighbors models with different input features and setting the distance metric

In [25]:
#knn with word_count as feature
knn_model_word_count = gl.nearest_neighbors.create(people, features = ['word_count'], label='name', distance='cosine')

Starting brute force nearest neighbors model training.

In [ ]:
#knn with TF_IDF as feature
knn_model_tfidf = gl.nearest_neighbors.create(people, features = ['tfidf'], label='name', distance='cosine')

Starting brute force nearest neighbors model training.

In [ ]:
knn_model_word_count.query(elton)